*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cont, .Noticias{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

h1{
    font-family: 'Roboto', sans-serif;
   color: orangered;
    font-size: 60px;
    align-items: center;
    
}
.cont1 a{
    text-decoration: none;
    
}
header{
    padding: 16px 0;
   
 
   

}
h2,h3{
    font-family: 'Roboto', sans-serif;
   color: orangered;

    font-size: 40px;
}

 .cont{
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    
}
.Imgevideo img,
.Imgevideo video {
    width: 600px;
  
    margin-left: 16px;
}
body{
    background-color: black;
}
section .Menu li{
    display: inline;
    margin-left: 100px;
    font-size: 40;
    font-family: 'Bungee', cursive;
  
}
.Noticias{
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
    
}

.Noticias img{

    width: 500px;
    height: 0 auto;

}
p{

   background-color: aliceblue;
  color: orangered;
    font-size: 24px;
    max-width: 500px;
}

form input, form textarea, form button{

    width: 500px;
margin-bottom: 8px;
padding: 8px;
}
form textarea{
    resize: none;
    
}


form button{
    cursor: pointer;
}
form button:hover{

    background-color: blue;
}
section .Fim{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
section .Fim img{

    width: 300px;
}

header .Menu li{
    align-items: center;
}

.sub li{

    color: white;
}

.Fim img{
    width: 300px;
} 



.cont1 li{

    display: inline;

}
.cont1 li a{
    font-family: 'Roboto', sans-serif;
 
    color: orangered;
    font-size: 35px;
    padding-left: 100px;
}
.n1 {
    background-image: url('Personagens/asd.jpg');
    background-size: cover; /* Faz com que a imagem cubra toda a área visível da página */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    margin: 0; /* Remove a margem padrão do body */
    padding: 0; /* Remove o padding padrão do body */
    height: 100vh; /* Garante que o body ocupe toda a altura da viewport */
}
